.container {
  width: 100%;
  min-height: 220px;
  max-height: calc(100vh - 335px);
  overflow-y: auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  .select {
    margin: 10px 0 0 10px;
  }
}